/* Webfont: SeeMilk-Regular */@font-face {
    font-family: 'SeeMilk';
    src: url('SeeMilk.eot'); /* IE9 Compat Modes */
    src: url('SeeMilk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('SeeMilk.woff') format('woff'), /* Modern Browsers */
         url('SeeMilk.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

