/* Webfont: soma-Regular */@font-face {
    font-family: 'soma';
    src: url('soma.eot'); /* IE9 Compat Modes */
    src: url('soma.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('soma.woff') format('woff'), /* Modern Browsers */
         url('soma.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

